# Ignore node_modules
node_modules/

# Ignore build output directories
/dist/
/build/

# Ignore Docker-related files
.docker/

# Ignore local environment variable files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore the Git folder
.git/
.gitignore

# Ignore IDE and editor configuration
.vscode/
/.idea/

# Ignore operating system files
.DS_Store        # macOS
Thumbs.db         # Windows

# Ignore temporary files
*.swp
*.swo

# Ignore npm
package-lock.json

