// Button group styles
.btn-group {
    display: flex;

    & > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0; /* Remove border-radius for all elements */
    }

    & > *:first-child {
        border-top-left-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
    }

    & > *:last-child {
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
    }
}

// Button vertical group styles
.btn-group-vertical {
    display: flex;
    flex-direction: column;

    & > * {
        margin: 0 !important;
        border-radius: 0; /* Remove border-radius for all elements */
    }

    & > *:first-child {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
    }

    & > *:last-child {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
    }
}