@mixin btn(
    $btn-size: nth(map-get($btn-sizes, 'md'), 1),
    $font-size: 14px
) {
    // Define base styles for a button

    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    font-size: $font-size;
    padding: $btn-size $btn-size * 2;
    border-radius: $base-border-radius;
    background-color: map-get($theme-color-palette, 'dark');
    color: get-contrast-color(map-get($theme-color-palette, 'dark'));
    transition: all $base-transition-time ease-in-out;
}


// Default button styles
.btn {
    @include btn;
}


// Close button
.btn-close {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all $base-transition-time / 3 ease-in-out;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;

        width: 1.5rem;
        height: 0.1rem;
        background-color: generate-shade(map-get($theme-color-palette, 'dark'), 40, 'lighten');
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        scale: 1.2;
    }
}


// Iterate over each key-val pair in the $btn-sizes
@each $key, $val in $btn-sizes {
    // Generate classes for each btn size
    .btn-#{$key} {
        @include btn(nth($val, 1), nth($val, 2));
    }
}

// Iterate over each key-val pair in the $theme-color-palette map
@each $key, $val in $theme-color-palette {
    // Create classes for theme buttons
    .btn-#{$key} {
        background: $val;
        color: get-contrast-color($val);

        &:hover {
            background-color: get-hover-color($val);
        }
    }

    // Create classes for outlined buttons
    .btn-outline-#{$key} {
        background-color: transparent;
        border: $base-border-sickness solid $val;
        color: $val;

        &:hover {
            background-color: $val;
            color: get-contrast-color($val);
        }
    }


    // Iterate over each bp_key-bp_val pair to generate color classes for each breakpoint
    @each $bp_key, $bp_val in $breakpoints {
        @media (min-width: $bp_val) {
            // Create classes for classic buttons
            .#{$bp_key}\:btn-#{$key} {
                background: $val;
                color: get-contrast-color($val);

                &:hover {
                    background-color: get-hover-color($val) !important;
                }
            }

            // Create classes for outlined buttons
            .#{$bp_key}\:btn-outline-#{$key} {
                background-color: transparent;
                border: $base-border-sickness solid $val !important;
                color: $val !important;

                &:hover {
                    background-color: $val !important;
                    color: get-contrast-color($val) !important;
                }
            }
        }
    }
}


// Iterate over each key-val pair in the $base-color-palette map
@each $key, $val in $base-color-palette {

    // Generate color classes for all shades
    @for $i from 1 through 9 {
        // Define color shade
        $shade: if($i <= 4, generate-shade($val, 100-$i*10, 'lighten'), generate-shade($val, $i*10-40, 'darken'));


        // Create classes for classic buttons
        .btn-#{$key}-#{$i*100} {
            background: $shade;
            color: get-contrast-color($shade);

            &:hover {
                background-color: get-hover-color($shade);
            }
        }

        // Create classes for outlined buttons
        .btn-outline-#{$key}-#{$i*100} {
            background-color: transparent;
            border: $base-border-sickness solid $shade;
            color: $val;

            &:hover {
                background-color: $shade;
                color: get-contrast-color($shade);
            }
        }

        // Iterate over each bp_key-bp_val pair to generate color classes for each breakpoint
        @each $bp_key, $bp_val in $breakpoints {
            @media (min-width: $bp_val) {
                // Create classes for classic buttons
                .#{$bp_key}\:btn-#{$key}-#{$i*100} {
                    background: $shade;
                    color: get-contrast-color($shade);

                    &:hover {
                        background-color: get-hover-color($shade) !important;
                    }
                }

                // Create classes for outlined buttons
                .#{$bp_key}\:btn-outline-#{$key}-#{$i*100} {
                    background-color: transparent;
                    border: $base-border-sickness solid $shade !important;
                    color: $shade !important;

                    &:hover {
                        background-color: $shade !important;
                        color: get-contrast-color($shade) !important;
                    }
                }
            }
        }
    }
}
