// Base form group styles
.input-group {
    display: flex;

    & > * {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important; /* Remove border-radius for all elements */

        &.input-group-text, .input-group-text {
            width: auto;
        }
    }

    & > *:first-child {
        border-top-left-radius: $base-border-radius !important;
        border-bottom-left-radius: $base-border-radius !important;
    }

    & > *:last-child {
        border-top-right-radius: $base-border-radius !important;
        border-bottom-right-radius: $base-border-radius !important;
    }

    // Input group text styles
    .input-group-text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: generate-shade($light, 10, 'darken');
        border-radius: $base-border-radius;
        padding: $base-padding;

        border-style: solid;
        border-width: $base-border-sickness / 2;
        border-color: generate-shade(map-get($base-color-palette, "gray"), 30, 'lighten');

        // Password toggle button style
        &.toggle-password {
            &.show-password {
                .icon {
                    background-image: url(#{map-get($icons, 'eye')}) !important;
                }
            }
            &.hide-password {
                .icon {
                    background-image: url(#{map-get($icons, 'eye-slash')}) !important;
                }
            }
        }
    }
}

// Vertical form group styles
.input-group-vertical {
    display: flex;
    flex-direction: column;

    & > * {
        margin: 0 !important;
        border-radius: 0 !important; /* Remove border-radius for all elements */
    }

    & > *:first-child {
        border-top-left-radius: $base-border-radius !important;
        border-top-right-radius: $base-border-radius !important;
    }

    & > *:last-child {
        border-bottom-left-radius: $base-border-radius !important;
        border-bottom-right-radius: $base-border-radius !important;
    }
}