// Modal styles for dark theme
.dark-theme-modal {
    background-color: $dark;
    color: $light;

    .btn-close::after,
    .btn-close::before {
        background-color: $light !important;
    }
}

// Modal styles for light theme
.light-theme-modal {
    background-color: $light;
    color: $dark;
}


// Modal container
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: $darken-screen-bg-color;

    justify-content: center;

    // Hide the modal by default
    display: none;

    // Show it when the 'active' class is given
    &.active {
        display: flex;
    }

    // Centered modal's styles
    &.modal-centered {
        align-items: center;
        .modal-dialog .modal-content {
            margin-top: 0;
        }
    }

    // Fullscreen modal style
    &.modal-full-screen {
        .modal-dialog .modal-content {
            margin: 0 !important;
            width: 100vw !important;
            height: 100vh !important;
            border-radius: 0 !important;
        }
    }

    // Modal container
    .modal-dialog {
        // Modal block
        .modal-content {
            width: auto;
            border-radius: $base-border-radius;
            margin: $base-margin * 2 $base-margin $base-margin $base-margin;

            transition: all $base-transition-time ease-out;

            border-style: solid;
            border-width: $base-border-sickness / 2;
            border-color: generate-shade(map-get($base-color-palette, "gray"), 30, 'lighten');

            @extend .light-theme-modal;

            // Modal header's styles
            .modal-header {
                padding: $base-padding;

                display: flex;
                justify-content: space-between;
                align-items: center;

                .modal-title {
                    font-size: 20px;
                }

                .btn-exit {
                    margin-left: $base-margin;
                }
            }

            // Main content of the modal
            .modal-body {
                position: relative;
                overflow: hidden;

                padding: $base-padding;
            }

            // Modal footer's styles
            .modal-footer {
                padding: $base-padding;
            }

            // Hide modal by default
            transform: translateY(-100%);
            opacity: 0;

            // Show modal when it is active
            &.active {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}


// Apply styles for dark mode
.modal[data-bs-theme="dark"] {
    .modal-dialog .modal-content {
        @extend .dark-theme-modal;
    }
}