// Base styles for navbar light theme
.light-theme-navbar {
    background: $light;

    * {
        color: $dark;
    }

    // Base nav items hover effect
    .navbar-menu .nav-item:hover,
    .navbar-menu .nav-item .nav-link:hover,
    .navbar-brand {
        color: generate-shade($dark, 30, "lighten");
    }
}

// Base dark theme mode styles for navbar
.dark-theme-navbar {
    background: $dark;

    * {
        color: $light;
    }

    // Base nav items hover effect
    .navbar-menu .nav-item:hover,
    .navbar-menu .nav-item .nav-link:hover,
    .navbar-brand {
        color: generate-shade($light, 30, "darken");
    }
}


.navbar {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: color $base-transition-time ease;


    padding: $base-padding $base-padding*4;

    // Extend light theme by default
    @extend .light-theme-navbar;

    // Navbar main link (it could be logo)
    .navbar-brand {
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }

    // Menu list
    .navbar-menu {
        display: flex;
        align-items: center;
        margin-left: $base-margin;

        // Menu item (e.g. link, button)
        .nav-item {
            margin: 0 $base-margin;
        }

        // Navbar dropdown
        .dropdown .dropdown-toggle {
            padding: 0;
            margin: 0;
        }
    }

    div {
        display: flex;
        align-items: center;
    }
}


// Nav styles for dark theme
.navbar[data-theme="dark"] {
    @extend .dark-theme-navbar;
}


