// Mixin for the shaking animation
@mixin shake-animation($duration: 0.5s, $intensity: 10px, $repetition-amount: infinite) {
    @keyframes shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-$intensity);
        }
        50% {
            transform: translateX($intensity);
        }
        75% {
            transform: translateX(-$intensity);
        }
        100% {
            transform: translateX(0);
        }
    }

    animation: shake $duration ease-in-out $repetition-amount;
}

// Mixin for the bounce animation
@mixin bounce-animation($duration: 2s, $offset: 1rem, $repetition-amount: infinite) {
    @keyframes bounce {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        20% {
            transform: translateY(0);
            opacity: 1;
        }
        40% {
            transform: translateY(-#{$offset});
            opacity: 1;
        }
        60% {
            transform: translateY(0);
            opacity: 1;
        }
        80% {
            transform: translateY(-#{$offset/2});
            opacity: 1;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    animation: bounce $duration ease $repetition-amount;
}

// Mixin for the spin animation
@mixin spinner-animation($duration: 1s, $timing: linear, $repetition-amount: infinite) {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    // Create animation for spinner
    animation: spin $duration $timing $repetition-amount;
}

// Mixin for the fade animation
@mixin fade-animation($duration: 1s, $timing: linear, $repetition-amount: infinite) {
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    animation: fade $duration $timing $repetition-amount;
}

// Mixin for the slide effect
@mixin slide-animation($duration: 300ms, $timing: ease-out, $direction: 'right') {
    // Define the direction-specific keyframes
    @keyframes slide-right {
        from {
            translate: 100%;
            opacity: 0;
        }
        to {
            translate: 0;
            opacity: 1;
        }
    }

    @keyframes slide-left {
        from {
            translate: -100%;
            opacity: 0;
        }
        to {
            translate: 0;
            opacity: 1;
        }
    }

    @keyframes slide-up {
        from {
            translate: 0 -100%;
            opacity: 0;
        }
        to {
            translate: 0 0;
            opacity: 1;
        }
    }

    @keyframes slide-down {
        from {
            translate: 0 100%;
            opacity: 0;
        }
        to {
            translate: 0 0;
            opacity: 1;
        }
    }

    @keyframes slide-static {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    // Apply the correct keyframe animation based on the direction
    @if $direction == 'right' {
        animation: slide-right $duration $timing 1;
    } @else if $direction == 'left' {
        animation: slide-left $duration $timing 1;
    } @else if $direction == 'up' {
        animation: slide-up $duration $timing 1;
    } @else if $direction == 'down' {
        animation: slide-down $duration $timing 1;
    } @else if $direction == 'static' {
        animation: slide-static $duration $timing 1;
    }
}


// Base border style
@mixin base-border-style() {
    border-radius: $base-border-radius;
    border-style: solid;
    border-width: $base-border-sickness / 2;
    border-color: generate-shade(map-get($base-color-palette, "gray"), 30, 'lighten');
}

// It is used for active accordion, list-group-item etc
@mixin active-object-color() {
    $color: map-get($theme-color-palette, "primary");

    background-color: $color;
    color: get-contrast-color($color);

    a {
        color: get-contrast-color($color);
    }
}